body{
  background: #1a1a1a;
  color: #ffffff;
  font-family: Verdana, Arial;
}

header{
  background: #d699ff;
  color: #1a1a1a;
  text-align: center;
  padding: 5%;
  background: -moz-linear-gradient(top, #d699ff 0%, #b3ffe0 100%);
  background: -webkit-linear-gradient(#d699ff 0%, #b3ffe0 100%);
  background: -o-linear-gradient(#d699ff 0%, #b3ffe0 100%);
  background: linear-gradient(#d699ff 0%, #b3ffe0 100%);
  font-family: Verdana, Arial;
}

footer{
  background: #d699ff;
  color: #1a1a1a;
  text-align: center;
  padding: .5%;
  margin-top: 1%;
  background: -moz-linear-gradient(top, #b3ffe0 0%, #d699ff 100%);
  background: -webkit-linear-gradient(#b3ffe0 0%, #d699ff 100%);
  background: -o-linear-gradient(#b3ffe0 0%, #d699ff 100%);
  background: linear-gradient(#b3ffe0 0%, #d699ff 100%);
  font-family: Verdana, Arial;
}

a{
  font-size: 30pt;
  color:  #ffffff;
  padding: 1%;
}

a:visited{
  color: #d699ff;
}

nav{
  box-sizing: border-box;
  color: #1a1a1a;
  background-color: #b3ffe0;
  display: inline-block;
  height: 20%;
  min-height: 50px;
  min-width: 100%;
  #margin-bottom: 10px;
  overflow: auto;
}


nav a{
  text-decoration: none;
  text-align: center;
  padding: 5% 1% 1% 5%;
  color: #1a1a1a;
  font-size: 20pt;
}


nav a:visited{
  color: #d699ff;
}


img{
  width: 25%;
  height: 25%;
  float: right;
}

li.sub{
  list-style-type: none;
  color: #ffffff;
  font-family: Verdana, Arial;
}

main{
  padding: 1%;
}
